#verifyBinding {
  .verify_Binding{
    width: 80%;
    text-align: center;
    color: #666;
    .verify-cont{
      padding: 0 0 70px 0
    }
    .verify-submitBtn{
      width: 100px;
      box-sizing: border-box;
      border-radius: 25px;
      cursor: pointer;
      line-height: 40px;
      color: white;
      text-align: center;
      font-size: 15px;
      display: inline-block;
    }
    .verify-submitBtn-right{
      background-color: #0FA5FC;
      margin-left: 40px;
    }
    .verify-submitBtn-left{
      background-color: #fff;
      border: 1px solid #13ABFD;
      color: #0FA5FC;
    }
    .prompt{
      color: #333;
    }

  }
  .verify-toast{
    .am-toast-text{
      padding: 15px !important;
      color: #fff;
      background-color: rgba(58, 58, 58, 0.9);
      line-height: 1.5;
      border-radius: 5px;
      width: 128px;
      text-align: center;
      .am-toast-text-info{
        margin-top: 5px;
      }
    }
  }
  .userName{
    color: #0FA5FC;
  }
  .binding-results{
    text-align: center;
    .icon-AgreeBinding, .icon-Rejectedbingding{
      width: 70px;
      height: 86px;
      display: inline-block;
      margin-bottom: 56px;
    }
    .icon-AgreeBinding{
      background: url("../../images/icon-AgreeBinding.png") no-repeat;
      background-size: 100% 100%;
    }
    .icon-Rejectedbingding{
      background: url("../../images/icon-Rejectedbinding.png") no-repeat;
      background-size: 100% 100%;
    }
    .bingding-text{
      font-size: 19px;
      margin-top: 43px;
    }
    .bingding-text-agree{
      color: #51A938;
    }
    .bingding-text-rejected{
      color: #FF7931;
    }

  }
}