#addWatchInfo {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  .activeDiv:active{
    background-color: rgba(13, 140, 216, 0.2)
  }
  .am-navbar-blue{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
  .icon_back{
    width: 54px;
    height: 54px;
    position: absolute;
    left: 0;
    top: 20px;
    background: url("../../images/icon_backLogin.png") no-repeat center 11px;
    background-size: 24px;
  }
  .picDiv img{
    width: 100%;
  }
  .scanDiv{
    font-size: 15px;
    padding: 23px 8px 13px 37px;
    background: url("../../images/icon_grayScan.png") no-repeat left 22px;
    background-size: 24px;
    .text_hidden{
      width: calc(~"100% - 23px");
      vertical-align: bottom;
      padding-right: 10px;
      box-sizing: border-box;
      line-height: 1.5;
    }
    .scanBtn{
      background: url("../../images/icon_scan.png") no-repeat center center;
      background-size: 23px;
      width: 23px;
      height: 23px;
      font-size: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
  .sex .am-list-line{
    background: url("../../images/icon_graySex.png") no-repeat left 22px;
    background-size: 24px;
  }
  .relation .am-list-line{
    background: url("../../images/icon_grayUser.png") no-repeat left 22px;
    background-size: 24px;
  }
  .icon_user{
    .am-list-item.am-input-item{
      background: url("../../images/icon_grayUser.png") no-repeat left 22px;
      background-size: 24px;
    }
  }
  .icon_school{
    .am-list-item.am-input-item{
      background: url("../../images/icon_graySchool.png") no-repeat left 22px;
      background-size: 24px;
    }
  }
  .icon_watch{
    .am-list-item.am-input-item{
      background: url("../../images/icon_grayWatch.png") no-repeat left 22px;
      background-size: 24px;
    }
  }
  .icon_account{
    .am-list-item.am-input-item{
      background: url("../../images/icon_grayAccount.png") no-repeat left 22px;
      background-size: 24px;
    }
  }
  .accountName{
    color: #10A7FC;
  }
  .icon_birth{
    .am-list-line{
      background: url("../../images/icon_grayBirth.png") no-repeat left 22px;
      background-size: 24px;
    }
  }

  /*学生账号绑定*/
  .bindStu{
    .applyAccount{
      color: #0A9FFC;
      font-size: 12px;
      padding-top: 10px;
      text-align: right;
    }

    .stuAccount{
      font-size: 15px;
      color: #333;
      padding:40px 10px 0;
    }
  }

  /*注册选择学校弹窗*/
  .stuAccountRegist{
    .updateModel {
      position: absolute;
      width: 100%;
      height: 70%;
      left: 0;
      bottom: 0;
      background: white;
      z-index: 101;
      .searchDiv {
        height: 28px;
        padding: 8px;
        background-color: #F1F1F1;
        overflow: hidden;
        line-height: 28px;
        input {
          height: 28px;
          background-color: white;
          border-radius: 2px;
          padding: 0 9px;
          box-sizing: border-box;
          width: calc(~"100% - 50px");
          border: 0;
        }
        span {
          color: #108ee9;
          font-size: 16px;
          float: right;
          padding-right: 4px;
          cursor: pointer;
          width: 50px;
          text-align: right;
          box-sizing: border-box;
        }
      }
      .cont {
        padding: 0 15px;
        overflow-y: auto;
        height: calc(~"100% - 44px");
        .noomPowerList {
          line-height: 42px;
          font-size: 15px;
          color: #333;
          cursor: pointer;
        }
      }
      .bottomBox {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        span {
          flex: 1;
          text-align: center;
          font-size: 15px;
          padding: 0;
          line-height: 40px;
          height: 40px;
          display: inline-block;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          border: 1px #F56A55 solid;
          color: #F56A55;
          &.bind {
            background: #F56A55;
            color: #fff;
            &:active {
              color: rgba(255, 255, 255, 0.3);
              background-color: #F56A55;
            }
          }
        }
      }
    }
  }

  /*完善进度*/
  .progress{
    padding-top: 70px;
    .circle{
      .lineGray{
        background-color: #BFBFBF;
      }
      .lineBlue{
        background-color: #13ABFD;
      }
    }
    .text{
      justify-content: space-between;
      color: #BFBFBF;
      font-size: 14px;
      span.active{
        color: #17ACF7;
      }
    }
    .circle{
      position: relative;
      width: 100%;
      height: 20px;
      .line{
        height: 4px;
        width: calc(~"100% - 34px");
        position: absolute;
        left: 17px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 5;
      }
      .lines{
        .lineBlue{
          width: calc(~"50% - 17px");
        }
        .lineGray{
          width: calc(~"50% - 17px");
          left: auto;
          right: 17px;
        }
      }
      .icon_circle{
        padding: 0 17px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        span{
          border: 1px #BFBFBF solid;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          box-sizing: border-box;
          padding: 3px;
          display: block;
          background-color: white;
          &.active{
            border: 1px #13ABFD solid;
            i{
              background-color: #13ABFD;
            }
          }
          i{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #BFBFBF;
          }
        }
      }
    }
  }
  .dec{
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 30px;
    background-color: #ededed;
    color: #666;
    font-size: 13px;
  }
  .progressPic{
    width: 100%;
    padding-bottom: 20px;
  }
  .tabCont{
    border: 1px #E5E5E5 solid;
    border-top: none;
    padding: 15px 20px 50px;
  }

  .am-tabs-default-bar-underline,.am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    display: none;
  }
  .am-tabs-default-bar-tab{
    height: 40px;
    line-height: 40px;
    background-color: #F5F5F5;
    color: #666;
    margin-top: 6px;
    border: 1px #E5E5E5 solid;
    border-left-width: 0;
    border-radius: 0 5px 0 0;
  }
  .am-tabs-default-bar-tab:first-child{
    border-left-width: 1px;
    border-right-width: 0;
    border-radius: 5px 0  0 0;
  }
  .am-tabs-default-bar-tab.am-tabs-default-bar-tab-active{
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    border: 1px #E5E5E5 solid;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    color: #17ACF7;
    border-bottom: 0;
    background-color: #fff;
    margin-top: 0;
    &::before{
      content: '';
      width: 95%;
      height: 2px;
      background-color: #17ACF7;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .p29{
    padding-top: 40px;
  }
  .commonLocation-cont{
   height: 100%;
    &>div{
      height: 100%;
      &>div.p38{
        height: calc(~'100% - 114px');
        box-sizing: border-box;
      }
    }
  }
  @media screen and (max-width: 320px){
    .commonLocation-cont>div>div.p38{
      overflow-y: auto;
      padding-bottom: 20px;
    }
  }
}
