#addWatchInfo {
  .picDiv img{
    width: 100%;
  }
  .scanDiv{
    font-size: 15px;
    padding: 23px 10px 13px;
    .text_hidden{
      width: calc(~"100% - 23px");
      vertical-align: bottom;
      padding-right: 10px;
      box-sizing: border-box;
    }
    .scanBtn{
      background: url("../../images/icon_scan.png") no-repeat center center;
      background-size: 23px;
      width: 23px;
      height: 23px;
      font-size: 0;
      display: inline-block;
      vertical-align: top;
    }
  }

  /*学生账号绑定*/
  .bindStu{
    .am-list-item{
      padding-bottom: 6px;
      padding-top: 22px;
    }
    .am-list-item .am-list-line{
      padding-right: 10px;
    }
    .stuCont{
      padding-top: 56px;
    }
    .applyAccount{
      color: #0A9FFC;
      font-size: 12px;
      padding-top: 10px;
      text-align: right;
    }

    .stuAccount{
      font-size: 15px;
      color: #333;
      padding:40px 10px 0;
    }
  }
}
