#schoolInfo{
  height: 100%;
  .hasAccount{
    padding-bottom: 36px;
  }
  .hasAccount img,.noAccount img{
    display: block;
    width: 168px;
    margin: 0 auto;
  }
  .dec{
    text-align: center;
    color: #999;
  }
  .mainCont{
    height: calc(~"100% - 112px");
    flex-flow: column;
    justify-content: center;
  }
  .bt_bg{
    width: 100%;
    height: 142px;
    background: url("../../images/moreBg.png") no-repeat center bottom;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}