#addNewLocation {
  .setPosModel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 101;
  }

  .posMap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 101;
  }

  .posMessage {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    background-color: #f9f9f9;
  }

  .setArea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: #fff;
  }

  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    opacity: 0;
  }

  .amap-touch-toolbar .amap-zoomcontrol {
    bottom: 125px !important;
  }
  .am-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    background-color: #fff;
    color: #333;
  }
  .am-navbar-left, .am-navbar-title, .am-navbar-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .am-navbar-title{
    color: #333;
    font-size: 17px;
  }
  .am-navbar-right{
    color: #17ACF7;
    font-size: 15px;
  }
  .icon-back{
    background: url("../img/icon-back2.png") no-repeat center;
    background-size: 100% 100%;
    width: 13px;
    height: 23px;
    margin-right: 3px;
  }
  .commonLocation-cont{
    background: #EDEDED;
  }
  .WhiteSpace{
    height: 11px;
  }
  .am-list-item .am-list-line .am-list-content{
    font-size: 15px;
    padding-left: 15px;
  }
  .my-list{
    padding-left: 15px;
    background: #fff;
  }
  .am-list-item{
    padding: 10px 0;
    background: #fff;
  }
  .submitBtn{
    bottom: 65px;
  }
  .am-list-item .am-list-line .am-list-arrow{

  }
  .am-list-item .am-list-line .am-list-brief{
    width: 50%;
    margin-top: 0;
    display: inline-block;
    text-align: right;
    color: #333;
    line-height: 44px;
  }
  .common-space.am-list-item{
    padding: 0 ;
  }
  .space-name{
    width: calc(~"50% - 54px");
    line-height: 44px;
  }
  .spaceAvatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    background: #BFBFBF;
    overflow: hidden;
    display: inline-block;
    img{
      width: auto;
      height: auto;
      max-height: 44px;
      max-width: 44px;
    }
  }
  .line_public15{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 15px;
      bottom: 0;
      height: 1px;
      width: calc(~"100% - 15px");
      background-color: #DDDDDD;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
