#watchTrail {
  overflow: hidden;
  .watchTrail-cont{
    height: calc(~"100% - 64px");
  }

  .school-positioning{
    width: 22px;
    height: 22px;
    img{
      width: 22px;
      height: 22px;
      border-radius: 50%;
    }
  }

  .customLayer {
    font-size: larger;
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    line-height: 38px;
    border-radius: 19px;
    box-shadow:0px 6px 20px 0px rgba(51,51,51,0.3);
    padding: 0 4px;
    width: 250px;
    font-size: 15px;
  }

  .am-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    background-color: #fff;
    color: #333;
    padding-top: 20px;
  }
  .am-navbar-left, .am-navbar-title, .am-navbar-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .am-navbar-title{
    color: #333;
    font-size: 17px;
  }
  .am-navbar-right{
    color: #17ACF7;
    font-size: 15px;
  }
  .icon-back{
    background: url("../img/icon-back2.png") no-repeat center;
    background-size: 100% 100%;
    width: 13px;
    height: 23px;
    margin-right: 3px;
  }

  #timeChoose {
    position: fixed;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    > span {
      width: 80px;
      float: left;
    }
    > span.right-line{
      width: 1px;
      height: 20px;
      float: left;
      margin-top: 9px;
      background: rgba(204,204,204,0.5);
    }
    > span.select{
      color: #17ACF7;
    }
  }

  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    opacity: 0;
  }
  .amap-touch-toolbar .amap-zoomcontrol{
    border: none;
    bottom: 100px;
    width: 38px;
    right: 6px;
    background:rgba(247,247,247,1);
    box-shadow:0px 6px 20px 0px rgba(51,51,51,0.2);
    border-radius:10px;

  }
  .amap-zoom-touch-plus{
    background: url("../img/icon-expand.png") no-repeat center;
    width: 38px;
    height: 40px;
    background-size: 17px 17px;
    margin-bottom: 0;
    position: relative;
    > div{
      display: none;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  .amap-zoom-touch-plus:active{
    background: url("../img/icon-expand.png") #e5e5e5 no-repeat center;
    background-size: 17px 17px;
    border-radius: 10px 10px 0 0;
  }
  .amap-zoom-touch-minus{
    background: url("../img/icon-shrinkage.png") no-repeat center;
    width: 38px;
    height: 40px;
    background-size: 17px 17px;
    > div{
      display: none;
    }
  }
  .amap-zoom-touch-minus:active{
    background: url("../img/icon-shrinkage.png") #e5e5e5 no-repeat center;
    background-size: 17px 17px;
    border-radius: 0 0 10px 10px ;
  }
  .amap-touch-toolbar .amap-zoomcontrol:after{
    background: transparent;
  }

  i.icon-positioning{
    background: url("../img/icon-positioning.png") no-repeat;
    width: 16px;
    height: 21px;
    background-size: 100% 100%;
    display: inline-block;
    margin-top: 10px;
  }
  i.icon-TrackDetails{
    background: url("../img/icon-TrackDetails.png") no-repeat;
    width: 21px;
    height: 18px;
    background-size: 100% 100%;
    display: inline-block;
    margin-top: 11px;
  }
  #getPosition {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 16px;
    background:rgba(247,246,246,1);
    box-shadow:0px 6px 20px 0px rgba(51,51,51,0.2);
    border-radius:50%;
    padding: 0;
    i.icon-positioning{
      background: url("../img/icon-positioning.png") no-repeat;
      width: 16px;
      height: 21px;
      background-size: 100% 100%;
      display: inline-block;
      margin-top: 10px;
    }
  }
  #getPosition:active{
    background: #e5e5e5;
  }
;
  .setPosModel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 666;
    overflow: hidden;
    .modelContent {
      width: 100%;
      height: calc(~"100% - 64px");
      background: #F8F8F8;
      position: absolute;
      bottom: 0;
    }
  }
  .icon-startPoint, .icon-endPoint, .StepStart, .StepEnd{
    width: 25px;
    height: 36px;
  }
  .StepDot{
    width: 8px;
    height:8px;
    margin: 0 8px;
  }
  .icon-startPoint{
    background: url("../img/icon-startingPoint.png") no-repeat;
    background-size: 100% 100%;
  }
  .icon-endPoint{
    background: url("../img/icon-end.png") no-repeat;
    background-size: 100% 100%;
  }
  .WhiteSpace {
    height: 11px;
    background: #ededed;
  }
  /*轨迹详情*/
  .TrackDetails-cont{
    background: #fff;
    height: calc(~"100% - 11px");
    overflow-x: hidden;
    overflow-y: auto;
    .am-steps-item{
      margin-top: 15px;
    }
    .am-steps-item-title{
      font-size: 15px;
      color: #333;
      font-weight: normal;
      line-height: 1.5;
    }
    .am-steps-item-description{
      color: #999;
      font-size: 14px;
      line-height: 1;
      padding-bottom: 15px;
    }
    .am-steps-item-tail:after{
      background-color:transparent;
      border-right: 1px dashed #ccc;
    }

    .am-steps-item-content{
      position: relative;
      margin-top: 15px;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: #ddd;
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        -o-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }
    }
    .am-whitespace.am-whitespace-lg{
      height: 5px;
    }



  }
}
