#watchPosition {
  .customLayer {
    width: 35px;
    height: 35px;
    font-size: larger;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 0 #ccc;
  }

  #getPosition {
    position: fixed;
    bottom: 140px;
    right: 15px;
  }

  #getTrail {
    position: fixed;
    top: 230px;
    right: 15px;
  }

  #safeAddress {
    position: fixed;
    top: 290px;
    right: 15px;
  }

  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    opacity: 0;
  }
}
