#watchPosition {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .customLayer {
    font-size: larger;
    text-align: center;
  }

  #getPosition {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 16px;
    background:rgba(247,246,246,1);
    box-shadow:0px 6px 20px 0px rgba(51,51,51,0.2);
    border-radius:50%;
    i.icon-positioning{
      background: url("../img/icon-positioning.png") no-repeat;
      width: 16px;
      height: 21px;
      background-size: 100% 100%;
      display: inline-block;
      margin-top: 10px;
    }
  }
  #getPosition:active{
    background: #e5e5e5;
  }
  .orbital-position{
  width:38px;
  height:80px;
  position: fixed;
  top: 197px;
  right: 16px;
  background: #f7f7f7;
  box-shadow: 0px 6px 20px 0px rgba(51, 51, 51, 0.2);
  border-radius: 5px;
}
  #getTrail, #safeAddress{
    width: 38px;
    height: 40px;
  }
  #getTrail {
    background: url("../img/icon-orbital.png") no-repeat  center;
    background-size: 22px 22px;
  }
  #getTrail:active {
    background: url("../img/icon-orbital.png") #e5e5e5 no-repeat center;
    background-size: 22px 22px;
    border-radius: 5px 5px 0 0;
  }
  #safeAddress {
    background: url("../img/icon-place.png") no-repeat center;
    background-size: 22px 22px;
  }
  #safeAddress:active {
    background: url("../img/icon-place.png") #e5e5e5 no-repeat center;
    background-size: 22px 22px;
    border-radius: 0 0 5px 5px;
  }
  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    opacity: 0;
  }
  .map-cont{
    height: calc(~"100% - 64px");
  }
  .user-positioning, .user-positioning-jump{
    background: url("../img/user-positioning.png") no-repeat;
    width: 46px;
    height: 56px;
    background-size: 100% 100%;
    position: relative;
    left: -9px;
    top: -54px;
    /*margin: -54px 0 0 -9px;*/
    img{
      width: 38px;
      height: 38px;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 4px;
      object-fit:contain;
      border-radius: 50%;
    }
  }
  .user-positioning-jump{
    animation: jump 0.75s infinite;
  }
  @keyframes jump {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, -10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .school-positioning{
    width: 22px;
    height: 22px;
    img{
      width: 22px;
      height: 22px;
      border-radius: 50%;
    }
  }
  .amap-touch-toolbar .amap-zoomcontrol{
    position: fixed;
    border: none;
    top:325px;
    bottom: auto;
    width: 38px;
    right: 16px;
    background:rgba(247,247,247,1) !important;
    box-shadow:0px 6px 20px 0px rgba(51,51,51,0.2) !important;
    border-radius:5px;

  }
  .amap-zoom-touch-plus{
    background: url("../img/icon-expand.png") no-repeat center;
    width: 38px;
    height: 40px;
    background-size: 22px 22px;
    margin-bottom: 0;
    position: relative;
    > div{
      display: none;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  .amap-zoom-touch-plus:active{
    background: url("../img/icon-expand.png") #e5e5e5 no-repeat center;
    background-size: 22px 22px;
    border-radius: 5px 5px 0 0;
  }


  .amap-zoom-touch-minus{
    background: url("../img/icon-shrinkage.png") no-repeat center;
    width: 38px;
    height: 40px;
    background-size: 22px 22px;
    > div{
      display: none;
    }
  }
  .amap-zoom-touch-minus:active{
    background: url("../img/icon-shrinkage.png") #e5e5e5 no-repeat center;
    background-size: 22px 22px;
    border-radius: 0 0 5px 5px ;
  }
  .amap-touch-toolbar .amap-zoomcontrol:after{
    background: transparent;
  }
  .emptyCont-bg{
    background-color: #ededed;
    height: calc(~"100% - 64px");
    top: 64px;
  }

}
.androidPage #watchPosition .map-cont, .androidPage #watchPosition .emptyCont-bg{
  height: calc(~"100% - 44px");
}
.androidPage #watchPosition .emptyCont-bg{
  top: 44px;
}
.jindian .am-toast.am-toast-nomask{
  top: 50% !important;
}