#bindAndUnbind{
  .icon_code{
    width: 208px;
    height: 208px;
    background: url("../../images/pic_bind.png") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 16%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 30px;
    canvas{
      width: 155px;
      height: 155px;
      position: absolute;
      top: 23px;
      left: 22px;
      border-radius: 10px;
    }
    .dec{
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      bottom: 0;
    }
  }
}