#clockList{
  width: 100%;
  height: 100%;
  .clockItem{
    overflow: hidden;
    line-height: 44px;
    padding: 3px 15px;
    font-size: 15px;
    color: #333;
    &>span{
      display: block;
      float: left;
      width: calc(~"100% - 50px");
    }
    .time{
      font-size: 18px;
      color: #333;
      display: inline-block;
      vertical-align: bottom;
      width: 60px;
    }
  }
  .am-switch{
    float: right;
  }
}