@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
  background-color: #fff !important;
  height: 100%;
  font-size: 15px !important;
  position: relative;
  font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
}

body {
  overflow: hidden;
  height: 100%;
  color: #333 !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#example, .container {
  height: 100%;
}

.color_9 {
  color: #999;
}

.color_6 {
  color: #666;
}

.color_6_p {
  padding: 20px 0 10px 15px;
  background: #fff;
}
.color_c{
  color: #ccc;
}
.flex_1 {
  flex: 1;
}

.flex_auto {
  flex: auto;
}

.font_15 {
  font-size: 15px;
  color: #333;
}

.font_13 {
  font-size: 13px;
}

.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.color_red {
  color: #F46A55
}

.line_item {
  height: 8px;
  background: #f4f4f4;
}

.my_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}

.flex_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex_auto {
  flex: auto;
}

.padding_8 {
  padding: 8px 0;
  line-height: 20px;
}

.font_20 {
  font-size: 1.42rem;
  font-family: sans-serif;
}

.font_16 {
  font-size: 1.15rem;
  font-family: sans-serif;
}

.tags_blue {
  margin: -5px 0 0 0;
}

.my_flex_wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg_white {
  background: #fff;
}
.bg_gray {
  background: #ededed;
  height: 100%;
  width: 100%;
}
.text_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.font_gray {
  color: #5f5f5f;
}

.float_ri {
  float: right;
}

.float_l {
  float: left;
}
.p10{
  padding: 0 10px;
}
.p15{
  padding: 0 15px;
}
.p38{
  padding: 0 38px;
}
img{
  max-width: 100%;
}
.am-list-body::before,.am-list-body::after{
  display: none !important;
}
.am-list-line,.am-list-body{
  border: 0 !important;
}
/*底部弹窗公用*/
.mask{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}
.maskInnerBt{
  display: block;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.line_public{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.am-list-item .am-list-line .am-list-content{
  color: #333 !important;
}
.am-modal-title,.am-modal-button-group-h .am-modal-button:first-child{
  color: #333 !important;
}

/*公共列表间距*/
.public_list .am-list-item{
  padding-top: 3px;
  padding-bottom: 3px;
}
/*radio*/
.am-switch{
  margin-top: 10px !important;
}
.am-switch .checkbox{
  width: 45px !important;
  height: 24px !important;
}
.am-switch .checkbox:after{
  width: 22px !important;
  height: 22px !important;
  top: 1px!important;
}
.am-switch .checkbox:before{
  width: 42px !important;
  height: 20px !important;
}
.am-switch input[type="checkbox"]:checked + .checkbox{
  background: #17ACF7 !important;
}
/*下拉框下箭头*/
.selectDown{
  .am-list-item{
    padding-left: 0;
  }
  .am-list-item .am-list-line{
    padding: 17px 8px 6px 37px;
}
  .am-list-item .am-list-line .am-list-extra{
    flex-basis: auto;
    text-align: left;
    width: calc(~"100% - 23px");
    font-size: 15px !important;
    color: #ccc !important;
  }
  .am-list-item .am-list-line .am-list-arrow{
    background-image:url("components/images/icon_selectDown.png") !important;
    width: 23px;
    height: 13px;
  }
  .am-list-item .am-list-line .am-list-content{
    color: #ccc!important;
    font-size: 15px;
  }
}
/*保存按钮*/
.submitBtn {
  width: calc(~"100% - 76px");
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  line-height: 49px;
  color: white;
  background-color: #17ACF7;
  text-align: center;
  font-size: 16px;
  letter-spacing: 5px;
  -webkit-box-shadow: 0 9px 9px rgba(13, 140, 216,0.2);
  -moz-box-shadow: 0 9px 9px rgba(13, 140, 216,0.2);
  box-shadow: 0 9px 9px rgba(13, 140, 216,0.2);
  position: absolute;
  bottom: 20px;
  left: 38px;
}
.am-list-item .am-list-line::after{
  background: transparent !important;
}
.login-input{
  .am-list-item .am-input-control input::placeholder{
    color: #ccc !important;
    font-size: 15px !important;
  }
  .am-list-item.am-input-item{
    padding:17px 0 6px 37px !important;
    height: auto !important;
    min-height: auto !important;
  }
  .am-list-item .am-input-control input{
    padding: 7px 0 !important;
    line-height: 1.5 !important;
    color: #333 !important;
    font-size: 15px !important;
  }
}
.color_3  .am-list-item .am-list-line .am-list-extra,.am-list-item .am-list-line .am-list-extra.color_3{
  color: #333 !important;
}
/*添加按钮*/
.addBtn{
  position: fixed;
  width: 46px;
  height: 46px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background-color: #17ACF7;
  z-index: 50;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}
.innerCont{
  height: calc(~"100% - 89px");
  overflow-y: auto;
}
